.Login {
    padding-top: 50px;
    width: 100vw;
    height: 100vw;

    overflow-y: hidden;
    background-color: #a49baba3;
  }

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    background-color: white;
    width: 400px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    
    gap: 20px;

    padding: 30px;



    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    margin: 1rem 0em;
    padding: 1em 1em;
    border-radius: 0.3rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
}

.login-form input[type="text"]{
  padding: 0.67857143em 1em;
  font-size: 1em;
  background: #FFFFFF;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  box-shadow: 0em 0em 0em 0em transparent inset;
  transition: color 0.1s ease, border-color 0.1s ease;
}

