.App {
    font-family:Avenir, "Century Gothic", sans-serif;
    font-weight:100; 
    font-style:normal;
    font-size: calc(10px + 1vmin);
    color: black;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    background-color: rgb(234, 240, 237);
    height: 100px;

  }

  .nav-bar {
    top: 0;
    left: 0;
    width: 100vw;

    background-color: #646cff;

    font-size: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-title {
    padding-left: 50px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    padding-right: 50px;
    margin: 0;
  }

  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color:white;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #f6f6f6;
    background-color: black;
  }

  a:any-link {
    color: black;
    text-decoration-line: none;
    cursor: auto;
    transition: 0.25s;
}
a:any-link:hover {
    color: white;
    text-decoration-line: none;
    cursor: auto;
}

 